.cart{
	width: 100%;
}
.cart table{
	width:70%;
	text-align: center;
	margin: 0 auto;
}
.cart table td{
	padding: 5px;
}
.cart table img{
	width: 150px;
	height: 100px;
} 
.cart .group-button{
	width: 90%;
	text-align: right;
}
.cart .group-button #totalMoney{
	margin: 10px 0;
	font-size: 22px;
	font-weight: bold;
	text-align: right;
	color: red;
}
.cart .group-button button{
	width: 100px;
	height:35px;
	font-size: 16px;
	color: white;
	background-color: orange;
	border: none;
}